h1 {
  margin-top: 50px;
  text-align: center;
  color: #6b2208;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  text-transform: uppercase;
}
.list-lesson {
  height: 50vh;
  padding-bottom: 50px;
  font-size: 20px;
  font-style: italic;
}
.phaoxuan {
  width: 128px;
}

.top-bar {
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 99;
}
